@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Fredoka One', cursive;
    background-color: #3477C8;
    width: 100%;
    height: 100vh;
    display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.header p{
    padding: 1px;
    margin: 0px;
}


.header button{
    background-color: #F5D50D;
    font-size: 20px;
    cursor: pointer;
   width: 350px;
   height: 40px;
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    margin-top: 10px;
    outline: none;
}
body p{
    font-size: 50px;
}
.card{
   
    width: 400px;
    height: 400px;
    background-color: #fff;
    background-color: #1D395A;
    border-radius: 20px;
    /*contenido del card*/
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.textin{
    width: 300px;
    height: 160px;
    border-style: none;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    outline: none;
}

.card button{
    background-color: #F5D50D;
    font-size: 20px;
    cursor: pointer;
   width: 150px;
   height: 40px;
    text-decoration: none;
    border-style: solid;
    border-radius: 20px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    margin-top: 10px;
    outline: none;

   
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    width: 100%;
}
.wrapper div{
 align-self: center;
 justify-self: center;
}
.wrapper section{
    align-self: center;
 justify-self: center;
}

.container{
    width: 400px;
    height: 400px;
    background-color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
   */

 
    overflow-y:scroll;

    overflow-x:hidden;
    
}


.tabla{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   width: 100%; 
}
.tabla div{

    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #000;
    cursor: pointer;
  
}



/* 
canvas{
    height: 400;
    width: 400;
} */